USE [WebAPISampleDB]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 11/8/2025 8:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Age] [int] NULL,
	[Height] [decimal](5, 2) NULL,
	[Weight] [decimal](5, 2) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([PersonID], [FirstName], [LastName], [Age], [Height], [Weight], [Email]) VALUES (1, N'John', N'Smith', 28, CAST(180.50 AS Decimal(5, 2)), CAST(75.20 AS Decimal(5, 2)), N'john.smith@email.com')
INSERT [dbo].[Person] ([PersonID], [FirstName], [LastName], [Age], [Height], [Weight], [Email]) VALUES (2, N'Emily', N'Johnson', 32, CAST(165.30 AS Decimal(5, 2)), CAST(60.10 AS Decimal(5, 2)), N'emily.j@email.com')
INSERT [dbo].[Person] ([PersonID], [FirstName], [LastName], [Age], [Height], [Weight], [Email]) VALUES (3, N'Michael', N'Brown', 40, CAST(178.00 AS Decimal(5, 2)), CAST(82.50 AS Decimal(5, 2)), N'michael.brown@email.com')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
